
flourishing/README.html
flourishing/README_files/libs/bootstrap/bootstrap-icons.css
flourishing/README_files/libs/bootstrap/bootstrap-icons.woff
flourishing/README_files/libs/bootstrap/bootstrap.min.css
flourishing/README_files/libs/bootstrap/bootstrap.min.js
flourishing/README_files/libs/clipboard/clipboard.min.js
flourishing/README_files/libs/quarto-html/anchor.min.js
flourishing/README_files/libs/quarto-html/popper.min.js
flourishing/README_files/libs/quarto-html/quarto-syntax-highlighting.css
flourishing/README_files/libs/quarto-html/quarto.js
flourishing/README_files/libs/quarto-html/tippy.css
flourishing/README_files/libs/quarto-html/tippy.umd.min.js
flourishing/Codebook.docx
flourishing/stats7-classified-chatgpt4.csv
flourishing/stats7-classified-L2-13B-FT.csv
flourishing/stats7-classified-L2-13B.csv
flourishing/stats7-classified-L2-70B-FT.csv
flourishing/stats7-classified-L2-70B.csv
flourishing/stats7-classified-L2-7B.csv
flourishing/stats7-classified-L3-70B-FT.csv
flourishing/stats7-classified-L3-70B.csv
flourishing/stats7-classified-L3-8B-FT.csv
flourishing/stats7-classified-L3-8B.csv
flourishing/stats7-classified-L31-405B.csv
flourishing/stats7-classified-L31-70B.csv
flourishing/stats7-classified-L31-8B.csv
flourishing/stats7-classified-L32-1B-FT.csv
flourishing/stats7-classified-L32-1B.csv
flourishing/stats7-classified-L32-3B-FT.csv
flourishing/stats7-classified-L32-3B.csv
flourishing/stats8-classified-chatgpt4.csv
flourishing/stats8-classified-L2-13B-FT.csv
flourishing/stats8-classified-L2-13B.csv
flourishing/stats8-classified-L2-70B-FT.csv
flourishing/stats8-classified-L2-70B.csv
flourishing/stats8-classified-L2-7B-FT.csv
flourishing/stats8-classified-L2-7B.csv
flourishing/stats8-classified-L3-70B-FT.csv
flourishing/stats8-classified-L3-70B.csv
flourishing/stats8-classified-L3-8B-FT.csv
flourishing/stats8-classified-L3-8B.csv
flourishing/stats8-classified-L31-405B.csv
flourishing/stats8-classified-L31-70B.csv
flourishing/stats8-classified-L31-8B.csv
flourishing/stats8-classified-L32-1B-FT.csv
flourishing/stats8-classified-L32-1B.csv
flourishing/stats8-classified-L32-3B-FT.csv
flourishing/stats8-classified-L32-3B.csv
flourishing/summ7-classified-chatgpt4.csv
flourishing/summ7-classified-L2-13B-FT.csv
flourishing/summ7-classified-L2-13B.csv
flourishing/summ7-classified-L2-70B-FT.csv
flourishing/summ7-classified-L2-70B.csv
flourishing/summ7-classified-L2-7B.csv
flourishing/summ7-classified-L3-70B-FT.csv
flourishing/summ7-classified-L3-70B.csv
flourishing/summ7-classified-L3-8B-FT.csv
flourishing/summ7-classified-L3-8B.csv
flourishing/summ7-classified-L31-405B.csv
flourishing/summ7-classified-L31-70B.csv
flourishing/summ7-classified-L31-8B.csv
flourishing/summ7-classified-L32-1B-FT.csv
flourishing/summ7-classified-L32-1B.csv
flourishing/summ7-classified-L32-3B-FT.csv
flourishing/summ7-classified-L32-3B.csv
flourishing/summ8-classified-chatgpt4.csv
flourishing/summ8-classified-L2-13B-FT.csv
flourishing/summ8-classified-L2-13B.csv
flourishing/summ8-classified-L2-70B-FT.csv
flourishing/summ8-classified-L2-70B.csv
flourishing/summ8-classified-L2-7B-FT.csv
flourishing/summ8-classified-L2-7B.csv
flourishing/summ8-classified-L3-70B-FT.csv
flourishing/summ8-classified-L3-70B.csv
flourishing/summ8-classified-L3-8B-FT.csv
flourishing/summ8-classified-L3-8B.csv
flourishing/summ8-classified-L31-405B.csv
flourishing/summ8-classified-L31-70B.csv
flourishing/summ8-classified-L31-8B.csv
flourishing/summ8-classified-L32-1B-FT.csv
flourishing/summ8-classified-L32-1B.csv
flourishing/summ8-classified-L32-3B-FT.csv
flourishing/summ8-classified-L32-3B.csv
